
.media img{
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.baru{
    text-align: center;
    padding: 10px;
    background: linear-gradient(gray,black,rgba(6, 193, 193, 0.748));
    justify-content: center;
    width: 100%;
}

.media{
    display: grid;
    grid-template-areas:
    "tt ig fb"
    ;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
    gap: 30px;
    padding-bottom: 80px;
}

.game{
    color: aliceblue;
    width: 100%;
    display: grid;
    grid-template-areas:
    "ml supers"
    ;
    justify-content: space-around;
    grid-template-columns: 30% 30%;
    gap: 20px;
    justify-content: center;
}

.game img{
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.tiktok{
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 4px 6px;
    grid-area: tt;
}

.tiktok h3{
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.tiktok img{
    height: 82px;
}

.tiktok:hover{
    background-color: azure;
}
.media a{

    display: block;
    text-decoration: none;
    color: aliceblue;
    
}

.ig{
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 4px 6px;
    grid-area: ig;
}

.ig:hover{
    background-color: aliceblue;
}

.fb{
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 4px 6px;
    grid-area: fb;
}

.fb:hover{
    background-color: aliceblue;
}

.ml{
    background: url(foto/game.jpeg);
    background-size: cover;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 4px 6px;
    grid-area: ml;
}

.ml h3{
    padding: 10px;
    color: aliceblue;
}

.ml tr{
    display: flex;
}

.ml th{
    margin: auto;
}


.supersus{
    background-position: center;
    background: url(foto/game.jpeg);
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px;
    grid-area: supers;
}

.supersus h3{
    padding: 10px;
    color: aliceblue;
}

.supersus table{
    backdrop-filter: blur(10px);
}
.supersus img{
    box-sizing: border-box;
    clip-path: inset(10% 10% 10% 10%);
}

.hg{
    display: flex;
    align-items: center;
    margin: 0;
}

.ml tr:nth-child(2) th:nth-child(2) .bintang{
    padding: 0;
    margin: 0px;
    height: 30px;
}

@media screen and (max-width: 767.98px) {
    .media{
        margin: 0px;
        display: grid;
        grid-template-areas:
        "tt"
        "ig"
        "fb"
        ;

        grid-template-columns: 1fr;
    }

    .tiktok{
        grid-area: tt;
    }

    .fb{
        grid-area: fb;

    }

    ig{
        grid-area: ig;
    }

    .game{
        display: grid;
        grid-template-areas:
        "ml"
        "ss"
        ;

        grid-template-columns: 1fr;

    }

    .ml{
        box-sizing: border-box;
        grid-area: ml;
    }

    .supersus{
        grid-area: ss;
    }
}
